@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300&display=swap');

/*configurações gerais*/


h1, h2, h3 {
    font-family: 'Anton';
}

p, li, button, a{
    font-family: 'Poppins';
    /* width: 80%;
    margin: 0 auto; */
}
nav {
    background-color: #F2C335;
}


nav {
    position: absolute;
    z-index: 9999;
}

nav li a:nth-child(1):hover, nav li a:nth-child(1):active{
    border-radius: 15px;
    background-color: #5a3f26e6;
    color: white !important;
 }


/* Fim das configurações gerais da navegação e footer */

/* css geral do footer */

.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

/* fim do css geral footer */



/* perfil */

body{
    color: #1a202c;
    text-align: left;
    background-color: #ffffff;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

/* 5A3F26 cor marrom
linear-gradient(to bottom, #1D594E, #257c6c) cor verde */

/* fim perfil */


/* Inicio cars perfil */

body
.product_list {
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 20px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.product_list .card-header {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
}

.product_list .card-header .btn-link {
    width: 100%;
    padding: 0;
    text-align: left;
    border: none;
    border-radius: 0;
    position: relative;
    background-color: #ffffff;
    text-decoration: none;
    box-shadow: none;
}

.product_list .card-header .btn-link:hover,
.product_list .card-header .btn-link:focus {
    text-decoration: none;
    box-shadow: none;
}

.product_list .card-header .btn-link:after {
    content: "\f078";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    line-height: normal;
    width: 30px;
    height: 30px;
    background-color: #2f2f2f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 14px;
    transition: 0.5s all;
    background-image: none;
}

.product_list .card-header .btn-link.collapsed:after {
    transform: translateY(-50%) rotate(0deg);
}

.product_list .card-header .btn-link .list_block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.product_list .card-header .btn-link .list_block .list_image {
    width: 135px;
    margin-right: 25px;
    height: 130px;
}

.product_list .card-header .btn-link .list_block .list_text {
    width: calc(100% - 160px);
    padding-right: 40px;
}

.product_list .card-header .btn-link .list_block .list_text .subtitle {
    margin-bottom: 4px;
    color: #c7a379;;
    font-weight: 500;
    font-size: 16px;
}

.product_list .card-header .btn-link .list_block .list_text .title {
    margin-bottom: 10px;
}

.product_list .card-header .btn-link .list_block .list_text .text {
    font-size: 14px;
    color: #7f7f7f;
    margin: 0;
}

.product_list .card-body {
    padding: 15px;
    padding-bottom: 0;
    padding-top: 0;
}

.product_list .list_block_item {
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 20px 10px;
    margin-bottom: 30px;
    text-align: center;
}

.product_list .list_block_item a {
    display: block;
}

.product_list .list_block_item a img {
    width: 70px;
    margin-bottom: 10px;
    height: 60px;
}

.product_list .list_block_item a .category {
    color: #7f7f7f;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: normal;
    font-weight: 500;
}

.product_list .list_block_item a .title {
    line-height: normal;
    margin-bottom: 10px;
    font-size: 16px;
}

.product_list .list_block_item a .title strong {
    color: #c7a379;;
}
.image-fit-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
a{
    text-decoration:none;
}

/* fim cads perfil */